.normalValue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    color: lightskyblue;
    font-size: 50px;
    font-weight: bold;
}

.limitValue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    font-size: 70px;
    font-weight: bold;
    color: red
}

.incorrectValue {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.setValue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    color: lightskyblue;
    font-size: 20px;
    font-weight: bold;
}