*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
    width: 100%
}

.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    scale: 35%;
}