.App {
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.counter {
    padding-top: 25px;
    width: 100px;
    height: 50px;
    border: 1px solid blue;
}

.button {
    justify-content: space-around;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.maxValue {
    color: red;
    font-size: 40px;
}